<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="/static/favicon.ico" rel="icon">
        <link href="styles/main.css" rel="stylesheet">
        <title>Hoopsbet</title>
    </head>
    <body>
        <header>

            <a href="/" class="logo">
                <img src="images/logo.png" class="logo"/>
            </a>

            <input type="checkbox" id="nav-toggle" class="nav-toggle">

            <nav>
                <ul>
                    <li><a href="games.html">Jogos</a></li>
                    <li><a href="picks.html">Escolhas</a></li>
                    <li><a href="betmanager.html">BetManager</a></li>
                </ul>
            </nav>
            <label for="nav-toggle" class="nav-toggle-label">
                <div class="menu-btn">
                    <div class="menu-btn_burger"></div>
                </div>
            </label>

        </header>
        <main id="content">
        {% block main %}{% endblock %}
        </main>
    <script src="scripts/main.js"></script>
    </body>
</html>