@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
    --color-primary: #FF8C00;
    --header-background: rgba(0, 0, 0, 0.7);
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
    width: 100vw;
}

body {
    margin: 0;
    background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

#content {
  height: 200vh;
  background-image: url("https://raw.githubusercontent.com/jpnas/hoopsbet/master/public/images/background.jpg");
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

/* nav styles start here */

header {
    background: var(--header-background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

header img.logo {
    margin: .8rem;
    width: 60vw;
    max-width: 200px;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 4.5px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 9px;
}

.nav-toggle-label span::after {
    top: 9px
}


nav {
    position: absolute;
    text-align: left;
    left: 0;
    background: var(--header-background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    text-decoration: none;
    color: var(--color-primary);
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;

    }

    header img.logo {
        width: 20vw;
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 1vw;
    }

    nav li {
        margin: 0;
    }

    nav li+li {
        margin-left: 3rem;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: var(--color-primary);
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
    }

    nav a:hover {
        text-decoration: none;
        color: var(--color-primary);
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}